#navbar{
    border: 1px solid black;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration-line: none;

}
a{
    text-decoration: none;
}
table{
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;

}
thead{
    background: grey;

}
th{
    padding: 20px;
}
tbody{
    background-color: aqua;
}
td{
    padding: 10px;
}